<div ng-controller="map_ctrl" id="div_container_map">
	<md-content layout="row">
		<md-content layout="column" flex>
			<h1>{{titles.map}}</h1>
			<div id="my_map"></div>
		</md-content>
	</md-content>
</div>