/* FRO COLORS IN TABS*/
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
	color : #B4B3B1;
	background-color: #636360;
}

/* MAPS */
#my_map{
	height : 800px;
}

/*FOR INFO CONTROL ON MAP*/
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
 